body{
  /* background-image: linear-gradient(to bottom, #FFFFFF 60%, #8D6E63 100%); */
    font-family: "Figtree", sans-serif;
    --color: #E1E1E1;
    background-color: #F3F3F3;
    background-image: 
        linear-gradient(to bottom, transparent 60%, #8D6E63 100%),
        linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
    background-size: 100% 100%, 55px 55px, 55px 55px;
  min-height: 100vh;

}


button{
    cursor: pointer;
}

.home{
    display: flex;
    justify-content: center;
    gap:  3rem;
    width: 60%;
    margin-left: 13%;
    margin-top: 10dvh;
}

.home .left {
    width: 23rem;
}

.home .left .c{
    margin: 0;
    padding: 0;
    font-size: 3rem;
}
.home .left .text{
    margin: 0;
    padding: 0;
}
.home .left .des{
    font-size: 1rem;
}
.home .left .scan{
    display: flex;
    justify-content: end;
    margin-right: 10%;
    padding: 0;
    font-size: 3rem;

}

.home .left button{
    width: 6rem;
    height: 2.5rem;
    background-color: #8D6E63;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    color: white;
    margin-left: 3%;
}


.home .right img{
    width: 14rem;
}